@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	gap: 14px;
	max-width: 1024px;
	margin: 0 auto;
	padding: 16px;
}

#logo {
	color: #333333;
	font-family: "Inconsolata", monospace;
	font-size: 24px;
	font-weight: 700;
}

img {
	width: 60%;
	display: block;
	margin: 30px auto;
}

main {
	font-family: "Space Mono", monospace;
}

main h1 {
	font-size: 48px;
	color: #333333;
	margin-top: 20px;
}

main p {
	font-size: 18px;
	color: #4f4f4f;
	margin: 20px 0 50px 0;
}

button {
	background-color: #333333;
	border: none;
	color: #ffffff;
	font-size: 14px;
	padding: 24px 32px;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
}

footer p {
	color: #bdbdbd;
	font-weight: 500;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

@media (min-width: 768px) {
	main {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img {
		width: 80%;
		margin: 0;
	}

	main h1 {
		font-size: 64px;
	}

	main p {
		font-size: 24px;
	}
}
